#qualificationsWrapper {
  .jumbotron {
    margin-bottom: 0;
    min-height: calc(100vh - 70px);
    position: relative;
    @media (max-width: 992px) {
      background-position-x: right !important;
    }
    @media (max-width: 768px) {
      min-height: 600px;
      background-position-x: center !important;
    }
    @media (max-width: 576px) {
      // min-height: 385px;
      min-height: 325px;
      background-position-y: top !important;
    }
    .jumboHeader {
      display: inline-block;
      background: rgba(255,255,255,0.7);
      padding: 20px 30px;
      margin-top: 35px;
      h1 {
        color: #000099;
        margin-bottom: 0;
        @media (max-width: 768px) {
          font-size: 3.5rem;
        }
        @media (max-width: 576px) {
          font-size: 2.5rem;
        }
        @media (max-width: 450px) {
          font-size: 2rem;
        }
      }
    }
    .downArrow {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      i {
        color: white;
        font-size: 40px;
      }
    }
  }
  .qualify2 {
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  .qualify3 {
    .noInfo {
      @media (max-width: 768px) {
        text-align: center;
      }
      i {
        @media (max-width: 768px) {
          margin-bottom: 20px;
        }
      }
    }
    .listQual {
      margin-top: 40px;
      ol {
        @media (max-width: 768px) {
          margin-left: 45px;
        }
        li {
          font-size: 25px;
        }
      }
    }
  }
}
