#qualificationsWrapper {
  .jumbotron {
    margin-bottom: 0;
    min-height: 325px;
    .jumboHeader {
      display: inline-block;
      background: rgba(255,255,255,0.7);
      padding: 20px 30px;
      margin-top: 35px;
      h1 {
        color: #000099
      }
    }
  }
  .qualify2 {
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  .qualify3 {
    .noInfo {
      @media (max-width: 768px) {
        text-align: center;
      }
    }
    .listQual {
      margin-top: 40px;
      ol {
        @media (max-width: 768px) {
          margin-left: 45px;
        }
        li {
          font-size: 25px;
        }
      }
    }
  }
}
