body {
  @extend %fontRegular;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/resources/fonts/Poppins-Regular.ttf');
}

$noto: 'Poppins', sans-serif;

%fontRegular {
  font-family: $noto;
  font-style: normal;
  font-weight: 400;
}
