body {
  @extend %fontRegular;
  h2 {
    color: black;
  }
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/resources/fonts/Poppins-Regular.ttf');
}

$noto: 'Poppins', sans-serif;

%fontRegular {
  font-family: $noto;
  font-style: normal;
  font-weight: 400;
}

$blue: #000099;

.applyButton {
  background-color: $blue;
  border-color: $blue;
  &:hover {
    background-color: lighten($blue, 20%);
  }
}

.container-fluid {
  margin-left: 60px;
  margin-right: 60px;
}
