#homeWrapper {
  color: #000099;
  // display: flex;
  // flex-direction: column;
  // min-height: 100vh;
  .jumbotron {
    // flex: 1;
    min-height: calc(100vh - 70px);
    margin-bottom: 0;
    position: relative;
    .jumboHeader {
      display: inline-block;
      background: rgba(255,255,255,0.7);
      padding: 20px 30px;
      h1 {
        color: #000099;
        @media (max-width: 992px) {
          font-size: 3rem;
        }
        @media (max-width: 768px) {
          font-size: 2rem;
        }
      }
    }
    .mainButton {
      text-align: center;
      margin-top: 3rem;
      @media (max-width: 992px) {
        margin-top: 11rem;
      }
      @media (max-width: 345px) {
        margin-top: 2rem;
      }
      .cta {
        padding: 20px 40px;
        font-size: 25px;
      }
    }
    .downArrow {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      i {
        color: white;
        font-size: 40px;
      }
    }
  }
  #secondaryHeaderSection {
    background: #f7f7f7;
  }
  #stepSection {
    .container-fluid {
      margin: 0;
    }
    text-align: center;
    padding: 40px 0;
    h2 {
      margin-bottom: 1.5rem;
      font-size: 40px;
    }
    .step {
      i {
        margin-bottom: 15px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
