#homeWrapper {
  display: flex;
  flex: 1;
  .jumbotron {
    flex: 1;
    margin-bottom: 0;
    h1 {
      color: #000099
    }
  }
  .mainButton {
    text-align: center;
    margin-top: 2.5rem;
    .cta {
      padding: 20px 40px;
      font-size: 25px;
    }
  }
}
