#privatePolicyWrapper {
  padding: 40px 0;
  .privacyTitle {
    color: #000099;
    text-decoration: underline;
  }
  h4 {
    color: #000099;
    font-weight: bold;
  }
  ul {
    margin-left: 50px;
  }
  a {
    color: #000099;
  }
}
