#footer {
  background: #ddd;
  padding: 30px;
  .social {
    margin-bottom: 10px;
    i {
      color: #000099;
      margin: 0 9px;
      font-size: 35px;
    }
  }
  .copyrightWrapper {
    .copyrightContent {
      max-width: 550px;
      margin: 0 auto;
    }
  }
}
