body {
  @extend %fontRegular;
  h2 {
    color: black;
  }
  h1 {
    // margin-bottom: 0
  }
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/resources/fonts/Poppins-Regular.ttf');
}

section {
  padding: 50px 0;
}

.qualify2 {
  background-color: #f7f7f7;
}

$noto: 'Poppins', sans-serif;

%fontRegular {
  font-family: $noto;
  font-style: normal;
  font-weight: 400;
}

$blue: #000099;

.applyButton {
  padding: 10px 20px;
  background-color: $blue;
  border-color: $blue;
  &:hover {
    background-color: lighten($blue, 20%);
  }
}

#ctaSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  min-height: 350px;
  background-color: #000099;
  h2 {
    font-size: 45px;
    color: white;
    margin-bottom: 3rem;
  }
  .ctaBig {
    background-color: white;
    border-color: white;
    color: #000099;
    padding: 20px 40px;
    font-size: 25px;
  }
}

.container-fluid {
  margin-left: 60px;
  margin-right: 60px;
}

#mainContent {
  // display: flex;
  // flex-direction: column;
  // min-height: 100vh;
  padding-top: 70px;
}
