body {
  @extend %fontRegular;
  h2 {
    color: #000099;
  }
  h3 {
    color: #000099;
  }
  ol {
    color: #000099;
  }
  ul {
    color: #000099;
  }
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/resources/fonts/Poppins-Regular.ttf');
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group > .form-control:focus {
  z-index: 0;
}

section {
  padding: 50px 0;
}

.qualify2 {
  background-color: #f7f7f7;
}

$noto: 'Poppins', sans-serif;

%fontRegular {
  font-family: $noto;
  font-style: normal;
  font-weight: 400;
}

$blue: #000099;

.applyButton {
  padding: 10px 20px;
  background-color: $blue;
  border-color: $blue;
  &:hover {
    background-color: lighten($blue, 20%);
  }
}

.jumbotron {
  border-radius: 0px;
}

#ctaSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  min-height: 350px;
  background-color: #000099;
  h2 {
    text-align: center;
    font-size: 45px;
    color: white;
    margin-bottom: 3rem;
  }
  .ctaBig {
    background-color: white;
    border-color: white;
    color: #000099;
    padding: 20px 40px;
    font-size: 25px;
  }
}

.container-fluid {
  margin-left: 60px;
  margin-right: 60px;
}

#mainContent {
  // display: flex;
  // flex-direction: column;
  // min-height: 100vh;
  padding-top: 70px;
}

.contactFormSection {
  padding: 30px 0 50px 0;
  .formWrapper {
    max-width: 850px;
    padding: 0 60px;
    @media (max-width: 768px) {
      padding: 0 40px;
    }
    @media (max-width: 576px) {
      padding: 0 20px;
    }
    .formInfo {
      display: flex;
      justify-content: flex-end;
      color: gray;
      margin-bottom: 15px;
    }
    #contactForm {
      .form-group {
        margin-bottom: 25px;
      }
      .input-group {
        margin-bottom: 25px !important;
      }
      #g-recaptcha {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
      }
      .submitButtonWrapper {
        display: flex;
        justify-content: center;
        #submitFormButton {
          display: flex;
          padding: 15px 25px;
          font-size: 20px;
          &:disabled {
            pointer-events: none;
          }
          .spinner-border {
            margin-right: 10px;
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
    }
  }
}
