#contactUsWrapper {
  .jumbotron {
    margin-bottom: 0;
    min-height: calc(100vh - 70px);
    position: relative;
    padding: 2rem;
    .jumboHeader {
      display: inline-block;
      background: rgba(255,255,255,0.9);
      padding: 10px 20px;
      // margin-top: -25px;
      h1 {
        color: #000099;
        margin-bottom: 0;
        @media (max-width: 768px) {
          font-size: 3.5rem;
        }
        @media (max-width: 576px) {
          // font-size: 2.5rem;
        }
        @media (max-width: 450px) {
          font-size: 2.5rem;
        }
      }
    }
    .downArrow {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      i {
        color: #000099;
        font-size: 40px;
      }
    }
  }
  .contactInfoSection {
    display: flex;
    padding: 0;
    @media (max-width: 992px) {
      flex-direction: column;
    }
    a {
      display: flex;
      width: 50%;
      background: #000099;
      justify-content: center;
      font-size: 35px;
      line-height: 3.5;
      text-decoration: none;
      color: white;
      @media (max-width: 992px) {
        width: 100%;
        line-height: 2.5;
      }
      @media (max-width: 576px) {
        font-size: 25px;
      }
      &.phoneButton {
        border-right: 1px solid white;
        @media (max-width: 992px) {
          border-right: none;
          border-bottom: 1px solid white;
        }
      }
    }
    .eButton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      font-size: 35px;
      background: #000099;
      color: white;
      cursor: pointer;
      @media (max-width: 992px) {
        width: 100%;
        padding: 20px 0;
      }
      @media (max-width: 576px) {
        padding: 15px 0;
      }
      .eImageTag {
        width: 400px;
        @media (max-width: 576px) {
          width: 300px;
        }
      }
    }
  }
  .contactPrompt {
    padding: 35px 0 0 0;
  }
}
