#contactUsWrapper {
  .jumbotron {
    margin-bottom: 0;
    min-height: calc(100vh - 70px);
    position: relative;
    padding: 2rem;
    .jumboHeader {
      display: inline-block;
      background: rgba(255,255,255,0.9);
      padding: 10px 20px;
      // margin-top: -25px;
      h1 {
        color: #000099;
        margin-bottom: 0;
        @media (max-width: 768px) {
          font-size: 3.5rem;
        }
        @media (max-width: 576px) {
          // font-size: 2.5rem;
        }
        @media (max-width: 450px) {
          font-size: 2.5rem;
        }
      }
    }
    .downArrow {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      i {
        color: #000099;
        font-size: 40px;
      }
    }
  }
  .contactInfoSection {
    display: flex;
    padding: 0;
    a {
      display: flex;
      width: 50%;
      background: #000099;
      justify-content: center;
      font-size: 35px;
      line-height: 3.5;
      text-decoration: none;
      color: white;
      transition: background 100ms ease-in-out;
      &.phoneButton {
        border-right: 1px solid white;
      }
      &:hover {
        background: white;
        color: #000099;
      }
    }
  }
  .contactPrompt {
    padding: 35px 0 0 0;
    h3 {

    }
  }
}
