#productsWrapper {
  .jumbotron {
    margin-bottom: 0;
    min-height: 325px;
    .jumboHeader {
      display: inline-block;
      background: rgba(255,255,255,0.7);
      padding: 20px 30px;
      margin-top: 35px;
      h1 {
        color: #000099
      }
    }
  }
  .qualify3 {
    h2 {
      text-decoration: underline;
      margin-bottom: 40px;
    }
    .typesList {
      display: flex;
      flex-direction: column;
      .step {
        display: flex;
        margin-bottom: 30px;
        .stepPoints {
          margin-left: 15px;
          ul {
            margin-left: 50px;
            li {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
